.faixa{
    font-weight: bold;
    background:linear-gradient(rgb(36, 35, 36),transparent) !important;
    background-color: rgb(96, 4, 133) !important;

 }

 .faixa1{
    font-weight: bold;
    background:linear-gradient(rgb(36, 35, 36),transparent) !important;
    background-color: rgb(96, 4, 133) !important;

 }