.topo{
    margin-top: 5px !important;
    background:linear-gradient(rgb(110, 11, 167),transparent) !important;
    background-color: rgb(251, 248, 252) !important;
}

.cor{
    background-color: rgb(96, 4, 133) !important;
    background:linear-gradient(rgb(110, 11, 167),transparent) !important;
    background-color: rgb(80, 78, 81) !important;

}