.caixa{
    background-color: #ffffff;
    color: turquoise !important;
}

.titulo{
   color: rgb(103, 105, 105) !important;
   font-weight: bold !important;
}

.botao{
    border-color: rgb(44, 212, 224) !important;
    background-color: blueviolet !important;
}

.postagens{
    border-color: rgb(33, 8, 172) !important;
    background:radial-gradient(rgb(83, 3, 121),transparent) !important;
    background-color: rgb(246, 243, 247) !important;
    image-rendering:"https://media.tenor.com/yy2BS9luJmcAAAAC/among-us.gif" !important;

}

.text-decorator-none{
    text-decoration: none;
}